@model List<ProgramViewModel>

@{
    ViewData["Title"] = "List of Programs";
}
<div class="container">
    <div class="row mb-4">
        <div class="col-6">
            <h2>List of Faculties</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle-fill"></i> Add Program</a>
        </div>
    </div>
    <div>
        <table class="table table-hover table-striped table-bordered" id="myDataTable">
            <thead>
                <tr>
                    <th>
                        Program Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Faculty
                    </th>
                    <th>
                        Semesters
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.Faculty.Name
                        </td>
                        <td>
                            @foreach (var programSemester in item.ProgramSemesters)
                            {
                                <p class="d-inline fw-bold"><span class="text-primary">@programSemester.Semester.Name</span> |</p>
                            }
                        </td>
                        <td>
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit <i class="bi bi-pencil"></i></a>
                            @*Creating form to execute HTTPPOST Request*@
                            <form asp-action="Delete" asp-route-id="@item.Id" class="d-inline">
                                <button type="button" class="deleteBtn btn btn-danger">Delete <i class="bi bi-trash"></i></button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>