@model List<ParentViewModel>

@{
    ViewData["Title"] = "Parent";
}


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">
        <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle-fill"></i> Add Parent</a>
    </h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Of Parents</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-striped table-bordered" id="myDataTable">
                    <thead>
                        <tr>
                            <th>
                                Photo
                            </th>
                            <th>
                                Parent Name
                            </th>
                            <th>
                                Gender
                            </th>
                            <th>
                                Contact Number
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Created At
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @if (item.PhotoUrl == null)
                                    {
                                        <img height="40" width="40" src="~/Images/default.png" style="object-fit:cover">
                                    }
                                    else
                                    {
                                        <img height="40" width="40" src="~/Images/Parents/@item.PhotoUrl" style="object-fit:cover">
                                    }
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Gender
                                </td>
                                <td>
                                    @item.ConctactNumber
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.CreatedAt
                                </td>
                                <td>
                                    <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit <i class="bi bi-pencil"></i></a>
                                    @*Creating form to execute HTTPPOST Request*@
                                    <form asp-action="Delete" asp-route-id="@item.Id" class="d-inline">
                                        <button type="button" class="deleteBtn btn btn-danger">Delete <i class="bi bi-trash"></i></button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->